

.container {
margin-left: auto;
margin-right: auto;    
width: 1440px;
height: 1024px;
background-image: url(zdjecia/nailmodel.PNG);
border: solid 1px black;

 

}
.container2 {
margin-left: auto;
margin-right: auto;    
width: 1440px;
height: 1024px;
background-image: url(zdjecia/background2.PNG); 
border: solid 1px black;
}
.paz1{
	width: 400px;
	height: 400px;
	position: absolute;
	top: 32px;
    left: 740px;
	background-image: url(zdjecia/paz1.jpg);

}
.paz2{
	
    width: 400px;
	height: 400px;
	position: absolute;
	top: 32px;
    left: 1235px;
	background-image: url(zdjecia/paz2.jpeg);
	
}
.paz3{
	
    width: 400px;
	height: 400px;
	position: absolute;
	top: 560px;
    left: 740px;
	background-image: url(zdjecia/paz3.jpeg);
	
}
.paz4{
	
    width: 400px;
	height: 400px;
	position: absolute;
	top: 560px;
    left: 1235px;
	background-image: url(zdjecia/paz4.JPG);
	
}
.nails1{
	
	width: 400px;
	height: 400px;
	position: absolute;
	top: 32px;
    left: 740px;
	background-image: url(zdjecia/nails1.JPG);

}
.nails2{
	
    width: 400px;
	height: 400px;
	position: absolute;
	top: 32px;
    left: 1235px;
	background-image: url(zdjecia/nails2.JPG);
	
}
.nails3{
	
    width: 400px;
	height: 400px;
	position: absolute;
	top: 560px;
    left: 740px;
	background-image: url(zdjecia/nails3.JPG);
	
}
.nails4{
	
    width: 400px;
	height: 400px;
	position: absolute;
	top: 560px;
    left: 1235px;
	background-image: url(zdjecia/nails4.PNG);
	
}


.tekst {
    width: 150px;
    height: 150px;
    position: relative;
    top: 65px;
    left: 50px;
}
.galeria1{
	width: 10px;
    height: 17px;
    position: absolute;
    top: 460px;
    left: 1170px;
    border-radius: 20px;
	font-size: 30px;
    color: black;
    padding: 13px;
    float: left;
	font-weight: semi-expanded;
	background-image: url('uparrow.svg');
	
}
.galeria2{
	width: 10px;
    height: 17px;
    position: absolute;
    top: 460px;
    left: 1170px;
    border-radius: 20px;
	font-size: 30px;
    color: black;
    padding: 13px;
    float: left;
	font-weight: semi-expanded;
	background-image: url('downarrow.svg');
	
}
.terminy{
	background-image: url(zdjecia/terminy.PNG);
	width: 960px;
	height: 567px;
	position: absolute;
	top: 230px;
	left: 710px;
}	
.cennik1{
	
	width: 401px;
	height: 295px;
	position: absolute;
	top: 500px;
	left: 910px;
}	
.mapa{
	
	position: absolute;
	top: 100px;
	left: 800px;
	
}
.galeria{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 20px;
	left: 50px;
	
	
}
#cennikowy{
	color: black;
    font-size: 25px;
	font-family: 'Fondamento', sans-serif;
	width: 550px;
	letter-spacing:7px;
	left: 400px;
	position: absolute;
    top: 30px;
    left: 800px;
	width: 700px;
	color:rgb(255,33,170);
	font-weight: bold;
	
}



#p1 {
    color: black;
    font-size: 25px;
	font-family: 'Fondamento', sans-serif;
	width: 550px;
	letter-spacing:7px;
	left: 400px;
	position: absolute;
    top: 30px;
    left: 0px;
	width: 550px;
    
}
#p2 {
    color: black;
    float: right;
	font-weight: bold;
    font-family: 'Fondamento', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 600px;
    left: 0px;
	width: 600px;
	letter-spacing: 5px;
	
}
#p3{
	color: black;
    float: right;
    font-weight: bold;
    font-family: 'Fondamento', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 80px;
    left: 900px;
	width: 700px;
}
#p4{
	color: black;
    float: right;
    font-family: 'Fondamento', sans-serif;
    font-size:50px;
    position: absolute;
    top: -30px;
    left: 800px;
	width: 500px;
}
#p5{
	color: black;
    float: right;
    font-family: 'Fondamento', sans-serif;
    font-size:30;
    position: absolute;
    top: 80px;
    left: 800px;
	width: 500px;
}
#p6{
	color: black;
    float: right;
   font-family: 'Fondamento', sans-serif;
    font-size:30;
    position: absolute;
    top: 780px;
    left: 800px;
	width: 500px;
}
#p7{
	color: black;
    float: right;
    font-family: 'Fondamento', sans-serif;
    font-size:30px;
    position: absolute;
    top: 580px;
    left: 800px;
	width: 1500px;
}
#dogory{
	color: black;
    font-family: 'Fondamento', sans-serif;
    font-size:45px;
    position: absolute;
	width: 1000px;
    top: -10px;
    left: 320px;
	letter-spacing: 4px;
}
	
#galeria{
	color: black;
    font-family: 'Fondamento', sans-serif;
    font-size:45px;
    position: absolute;
	width: 1000px;
	letter-spacing: 4px;
	top: 85px;
    left: 320px;
}
	#terminy{
	color: black;
    font-family: 'Fondamento', sans-serif;
    font-size:45px;
    position: absolute;
	width: 1000px;
    top: 180px;
    left: 320px;
	letter-spacing: 4px;
}
		
#cennik{
	color: black;
    font-family: 'Fondamento', sans-serif;
    font-size:45px;
    position: absolute;
	width: 1000px;
    top: 275px;
    left: 320px;
	letter-spacing: 4px;
}
#nadol {
    width: 30px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 750px;
    left: 250px;
    border-radius: 20px;
    color: black;
    padding: 13px;
    float: left;
	font-weight: semi-expanded;
}
#kontakt{
 
	color: black;
    font-family: 'Fondamento', sans-serif;
    font-size:45px;
    position: absolute;
	width: 1000px;
    top: 370px;
    left: 320px;
	letter-spacing: 4px;
}






	

/*ANIMACJE div'ów */

div.cennik1 {
	color: red;
	font-weight: bold;
	font-size: 50px;
	width: 500px;
	height: 295px;
	position: absolute;
	top: 600px;
	left: 800px;
    -webkit-animation: mymove 5s; /* Chrome, Safari, Opera */ 
    animation: mymove 5s;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes mymove {
    0%   {top: 50px;}
	10%	{top: 100px;}
    25%  {top: 250px;}
    75%  {top: 400px}
    100% {top: 600px;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {top: 50px;}
	10%	{top: 100px;}
    25%  {top: 250px;}
    75%  {top: 400px}
    100% {top: 600px;}
}








